<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<!-- <groups> <run> <include name="smoke"> </include> </run> </groups> -->

     <listeners>
     <listener class-name="Listener.Listeners"></listener>
     <listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
     
     </listeners>
	<test name="login">
		<classes>
			<class name="Testcases.Testcase3" />
			<class name="Testcases.TestCase1" />
			<class name="Testcases.TestCase2" />
			<class name="com.a.TesTNG_NEW.AppTest" />
		</classes>
	</test> <!-- Test -->

	<test name="registration">
		<classes>
			<class name="Testcases.Testcase3" />
			<class name="Testcases.TestCase1" />
			<class name="Testcases.TestCase2" />
			<class name="com.a.TesTNG_NEW.AppTest" />
		</classes>
	</test> <!-- Test -->


	<test name="validation">
		<classes>
			<class name="Testcases.Testcase3" />
			<class name="Testcases.TestCase1" />
			<class name="Testcases.TestCase2" />
			<class name="com.a.TesTNG_NEW.AppTest" />
		</classes>
	</test> <!-- Test -->

	<test name="failure">
		<classes>
			<class name="Testcases.Testcase3" />
			<class name="Testcases.TestCase1" />
			<class name="Testcases.TestCase2" />
			<class name="Testcases.TestFailure" />
			<class name="com.a.TesTNG_NEW.AppTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
